{% extends "layout.html" %}

{% block title %}
Rental
{% endblock %}

{% block main %}

<table class="table tablestriped">
  <thead>
    <tr>
      <th class="text-start">Product</th>
      <th class="text-end">Count</th>
      <th class="text-end">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for rental in rentals %}
    <tr>
      <th class="text-start">{{ rental.equipment }}</th>
      <th class="text-end">{{ rental.count }}</th>
      <th class="text-end">{{ rental.price | ntd }}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}